html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 625px; */
    height: 100vh;
    background-image: url(https://wallpapers.com/images/featured/iphone-wltnz5o1xymafqmo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400px 1200px;
    overflow: hidden;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
}
h4 {
    margin: 0;
    /* font-size: 1.1em;
    font-weight: 500; */
    color: rgba(210, 210, 210, 0.85);
}
h5 {
    margin: 0;
    font-size: 0.7em;
    font-weight: 500;
}
.canvas {
    position: absolute;
    width: 375px;
    height: 625px;
    border: 1px solid black;
    border-radius: 1em;
    overflow: hidden;
}
.default {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: inherit;
    transition: 0.2s ease;
}
.default-hide {
    left: 110%;
    transition: 0.2s ease-in-out;
}
.container {
    position: absolute;
    top: 36%;
    left: 4.5%;
    width: 91%;
    height: 28%;
    border-radius: 1em;
    border: none;
    transition: 0.2s ease;
}
.glass {
    background: linear-gradient(135deg, rgba(145, 145, 145, 0.4), rgba(95, 95, 95, 0.7));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17); */
}



.motor-controls-hide {
    left: -110%;
    transition: 0.2s ease-in-out;
}
.motor-controls-header {
    top: 7%;
    height: 30%;
}
.motor-controls-body {
    top: 36.7%;
    height: 63%;
    transition: height 0.17s ease-in-out, opacity 75ms ease-in-out;
}
.name-txt {
    position: absolute;
    top: 3%;
    left: 8.7%;
}
.serial-txt {
    position: absolute;
    top: 50%;
    left: 9%;
    color: rgb(187, 187, 187);
}
.percent-slider {
    top: 0;
    padding-top: 5%;
    height: 47.6%;
}
.open-stop-close {
    top: 46%;
    height: 52.4%;
}
.forward-backward {
    top: 0;
    height: 52.4%;
}
.min-zero-max {
    top: 52.4%;
    margin: 0 0 0 -1px;
    height: 47%;
}
.horizontal-separator {
    position: absolute;
    top: 52.4%;
    width: 100%;
    height: 1px;
    background-color: rgba(200, 200, 200, 0.525);
}
.vertical-separator {
    position: absolute;
    top: 1px;
    width: 1px;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.525);
}
.button2 {
    position: absolute;
    top: 1px;
    width: 35%;
    height: 100%;
    font-size: medium;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    transition: 0.1s ease;
}
.button2:active {
    background-color: rgba(194, 194, 194, 0.5);
}
.set-min-btn {
    left: 0;
    border-radius: 0 0 0 1em;
}
.zeroing-btn {
    left: 35%;
    width: 30%;
}
.set-max-btn {
    margin-left: 1px;
    left: 65%;
    border-radius: 0 0 1em 0;
}
input[type="range"] {
    position: absolute;
    top: 25%;
    left: 8%;
    width: 84%;
    height: 12%;
    border-radius: 0.75em;
    outline: none;
    overflow: hidden;
    transition: 0.25s ease;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    cursor: pointer;
    box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.700);
}
input[type="range"]:hover {
    top: 10%;
    left: 5%;
    width: 90%;
    height: 44%;
}
input[type="range"]:hover::-webkit-slider-thumb {
    box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.950);
}
.tick {
    position: absolute;
    top: 40%;
    width: 1px;
    height: 7px;
    background-color: rgba(148, 148, 148, 0.75);
    transition: 50ms ease;
}
input[type="range"]:hover ~ .tick {
    width: 0px;
}
.marker {
    position: absolute;
    top: 50%;
    font-size: 0.8em;
    color: rgba(172, 172, 172, 0.75);
    transition: 0.25s ease;
}
.zero-mkr {
    left: 7.85%;
}
input[type="range"]:hover ~ .zero-mkr {
    top: 60%;
    left: 5.5%;
    color: white;
}
.hundred-mkr {
    left: 87.5%;
}
input[type="range"]:hover ~ .hundred-mkr {
    top: 60%;
    left: 89%;
    color: white;
}
.button1 {
    position: absolute;
    top: 5%;
    width: 14.3%;
    height: 84.5%;
    color: rgba(0, 0, 0, 0);
    background-size: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: inherit;
    border-radius: 3em;
    cursor: pointer;
    outline: none;
    transition: 100ms ease;
}
.button1:active {
    background-size: 2.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(189, 189, 189, 0.75);
}
.open-btn {
    left: 15%;
    background-image: url(./img/icon_open_100x100.png);
    background-size: 2.4rem;
}
.stop-btn {
    left: 42.85%;
    background-image: url(./img/icon_stop_100x100.png);
}
.close-btn {
    left: 70.7%;
    background-image: url(./img/icon_close_100x100.png);
    background-size: 2.4rem;
}
.forward-btn {
    top: 6%;
    left: 61%;
    background-image: url(./img/icon_forward_100x100.png);
}
.backward-btn {
    top: 6%;
    left: 24.5%;
    background-image: url(./img/icon_backward_100x100.png);
}
.more-setting-txt {
    position: absolute;
    top: 25%;
    left: 10.5%;
    font-weight: 400;
    font-size: 1em;
}
.more-settings-dropdown {
    position: absolute;
    top: 6%;
    left: 87%;
    width: 8%;
    height: 52.1%;
}
.advanced-controls-dropdown {
    position: absolute;
    top: 6%;
    left: 74%;
    width: 8%;
    height: 52.1%;
}
.dropdown-cbx::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 3em;
    background-size: 1.3em;
    background-image: url(./img/icon_dropdown_100x100.png);
    background-color: rgba(172, 172, 172, 0.548);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    transition: 0.2s;
}
input:checked + .dropdown-cbx::before {
    background-color: rgba(122, 122, 122, 0.582);
    transform: rotate(0deg);
}
input[type="checkbox"], input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.more-settings-cbx::before {
    background-size: 64%;
    background-image: url(./img/icon_more_100x100.png);
    transform: none;
}



.hide {
    opacity: 0;
    height: 0;
}
.clickable {
    cursor: pointer;
}



/* For settings page */
.settings-header {
    top: 2%;
    height: 6%;
}
.back-arrow {
    position: absolute;
    top: 28%;
    left: -1.5%;
    width: 5.5%;
    height: 50%;
    background-size: 1.3em;
    background-position: center;
    background-image: url(./img/icon_back_100x100.png);
}
.back-btn {
    position: absolute;
    top: 15%;
    left: 3.5%;
}
.settings-header-txt {
    position: absolute;
    left: 28%;
    font-weight: 500;
}
.four-settings {
    top: 9.5%;
    height: 28%;
    border-radius: 0.5em;
}
.three-settings {
    top: 40.5%;
    height: 21%;
    border-radius: 0.5em;
}
.two-settings {
    top: 64.5%;
    height: 14%;
    border-radius: 0.5em;
}
.one-setting {
    height: 7%;
    border-radius: 0.5em;
}
.one-forth-height {
    height: calc(100% / 4);
}
.one-third-height {
    height: calc(100% / 3);
}
.one-half-height {
    height: calc(100% / 2);
}
.whole-height {
    height: 100%;
}
.one-forth-pos {
    top: 25%;
}
.one-half-pos {
    top: 50%;
}
.three-forths-pos {
    top: 75%;
}
.one-third-pos {
    top: 33%;
}
.two-thirds-pos {
    top: 66.7%;
}
.setting-name-txt {
    position: absolute;
    top: 19%;
    left: 5%;
    font-size: 1.1em;
}
.setting-value-txt {
    position: absolute;
    top: 19%;
    left: 79.9%;
    width: 15%;
    font-size: 1.1em;
    text-align: right;
    color: rgb(185, 185, 185);
}
.setting-value-txt2 {
    position: absolute;
    top: 19%;
    left: 31.9%;
    width: 63%;
    font-size: 1.1em;
    text-align: right;
    color: rgb(185, 185, 185);
}
.setting-opening-txt {
    left: 69%;
    opacity: 0;
    transition: 0.1s ease-in-out;
}
.setting-opening-txt-show {
    left: 63%;
    opacity: 100;
    transition: 0.1s ease-in-out;
}
.toggle {
    position: absolute;
    top: 15%;
    left: 80.5%;
    margin-top: -1px;
    width: 14.8%;
    height: 70%;
}
.toggle-cbx {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3em;
    background-color: rgba(199, 199, 199, 0.603);
    transition: 0.2s;
    cursor: pointer;
    overflow: hidden;
}
.toggle-cbx::before {
    position: absolute;
    top: 5%;
    left: 4%;
    content: '';
    width: 54.5%;
    height: 90%;
    border-radius: 3em;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
}
input:checked + .toggle-cbx {
    background-color: rgb(45, 226, 100);
    transition: 0.2s ease-in-out;
}
input:checked + .toggle-cbx::before {
    left: 42%;
    transition: 0.2s ease-in-out;
}
.more-settings {
    top: 23.5%;
    left: 54%;
    width: 38%;
    background: linear-gradient(135deg, rgba(80, 80, 80, 0.4), rgba(65, 65, 65, 0.7));
    overflow: hidden;
}
.more-settings-hide {
    top: 38%;
    left: 90%;
    height: 0;
    width: 0;
    transition: 0.18s ease-in-out;
}
.more-settings-shift {
    left: -60%;
    transition: 0.2s ease-in-out;
}


/* For pop-up dialog to change settings */
.popup-dialog {
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 36, 36, 0.9);
    transition: 0.2s ease-in-out;
}
.popup-dialog-show {
    top: 2%;
    transition: 0.2s ease;
}
.dialog-prompt {
    display: flex;
    justify-content: center;
    top: 1.5%;
    height: 3%;
}
.dialog-title {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 7%;
    left: 4.5%;
    width: 91%;
}
.form-btn {
    padding-top: 1.8%;
    font-size: 1em;
    color: rgb(67, 142, 255);
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.form-btn:active {
    color: rgb(31, 105, 216);
}
.dialog-title-txt {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
}
.form-input {
    top: 17.7%;
}
.form-input-txt {
    position: absolute;
    top: 20%;
    left: 5%;
}
.dialog-hint {
    position: absolute;
    top: 26%;
    left: 8%;
    width: 84%;
    height: 20%;
    color: lightgray;
}
.dialog-hint-shift {
    top: 33%;
}
input[type="number"], input[type="text"] {
    position: absolute;
    top: 12.5%;
    left: 38.5%;
    width: 55%;
    height: 70%;
    padding-left: 1px;
    border: none;
    font-size: 1.1em;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}
textarea:focus, input[type="number"]:focus, input[type="text"]:focus {
    outline: none;
}




/* 
.desktop-only-elements {
    display: none;
}
.mobile-only-elements {
    display: inline-block;
}
*/